<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufrn.ru_ufrn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.ufrn.ru_ufrn.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.Estatisticas"
            android:label="@string/title_activity_estatisticas" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.AvaliarCardapio"
            android:label="@string/title_activity_check_box" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.AvaliarItemIndividual"
            android:label="@string/title_activity_avaliar_item_individual" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.EstatisticasItemIndividual"
            android:label="@string/title_activity_estatisticas_item_individual" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.Testes"
            android:label="@string/title_activity_testes" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.Comentar"
            android:label="@string/title_activity_comentario" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.Avaliar"
            android:label="@string/title_activity_avaliar" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.VisualizarCardapio"
            android:label="@string/title_activity_visualizar_cardapio" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.CardapioSemana"
            android:label="@string/title_activity_cardapio_semana" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.Teste"
            android:label="@string/title_activity_teste" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.EstatisticasCardapio"
            android:label="@string/title_activity_estatisticas_cardapio" >
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.TelaInicial"
            android:label="@string/title_activity_tela_inicial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufrn.ru_ufrn.Cardapio"
            android:label="@string/title_activity_cardapio" >
        </activity>
    </application>

</manifest>